.mat-form-field {
    padding-left: 0px !important;
    margin-right: 8px !important;
}

.mat-card-content {
    margin-bottom: 0px !important;
}

.mat-card-actions {
    padding-top: 0px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}